form {display: grid;grid-template-columns: 1fr;grid-gap: 10px;}
body {display: grid;place-items: center;min-height: 100vh;background-image: url("kasit.png"); background-repeat: no-repeat;
    background-size:1400px 1000px;background-attachment: fixed;font-family: copperplate, Candara;color:#366CC7;}
input {width: 100%;padding: 0.75em 1.25em;margin: 0.5em 0;display: inline-block;border: 0.063em solid #ccc;box-sizing: border-box;}
button {background-color: #366CC7;color: white;padding: 0.875em 1.25em;margin: 0.5em 0;border: none;cursor: pointer;width: 100%;}
button:hover {opacity: 0.8;box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);}
.eye {margin-left: -30px; cursor: pointer;}
.container {padding: 1em; .container {display: grid;grid-template-columns: 1fr;grid-gap: 20px;text-align: center;}}
.main {position: relative;z-index: 1;padding:1.33em; border-radius: 0.67em;/*background-color: #B3BDD4;background-color: rgba(255, 255, 255, .15);  backdrop-filter: blur(5px);*/
    justify-content: center;align-items: center;display: flex;flex-wrap: wrap;
     box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;background-color: rgba(179, 189, 212, 0.8);}
.wrap-login100 {padding: 55px 15px 37px;width: 400px;margin: 0 auto;}
.font {font-size:2.5em;}
.text {text-align:center;font-weight: bold;}
@media (max-width: 576px) {.wrap-login100 {width: 80%;}}
a {color:#366CC7;}